
<div class="not-content">
	<div class="mt-16 px-6 py-6 bg-gray-600 rounded-lg dark:bg-gray-800 md:py-12 md:px-12 lg:py-16 lg:px-16 xl:flex">
		<div class="xl:w-0 xl:flex-1">
				<h3 class="text-2xl font-extrabold leading-8 tracking-tight !text-white sm:text-3xl sm:leading-9">
						Together we innovate. Let's reimagine social!
				</h3>
				<p class="max-w-3xl mt-3 text-lg leading-6 text-white">
						Social Web is about people. Communication, collaboration and co-creation. We can build a Peopleverse. 
						Solidground is Free Software and you can help make it better.
				</p>
				<div class="mt-6 flex justify-center gap-4 lg:justify-start">
					<a href="https://codeberg.org/solidground/" target="_blank" rel="noreferrer" title="Source on Codeberg">
						<span class="sr-only"> Source on Codeberg </span>
						<svg xmlns="http://www.w3.org/2000/svg" class="!text-white" fill="currentColor" aria-hidden="true" width="24" height="24" viewBox="0 0 4.233 4.233"><defs><linearGradient id="a"><stop offset="0" style="stop-color:#2185d0;stop-opacity:0"/><stop offset=".495" style="stop-color:#2185d0;stop-opacity:.48923996"/><stop offset="1" style="stop-color:#2185d0;stop-opacity:.63279623"/></linearGradient><linearGradient xlink:href="#b" id="c" x1="42519.285" x2="42575.336" y1="-7078.789" y2="-6966.931" gradientUnits="userSpaceOnUse"/><linearGradient id="b"><stop offset="0" style="stop-color:#fff;stop-opacity:0"/><stop offset=".495" style="stop-color:#fff;stop-opacity:.30000001"/><stop offset="1" style="stop-color:#fff;stop-opacity:.30000001"/></linearGradient></defs><path d="M42519.285-7078.79a.76.568 0 0 0-.738.675l33.586 125.888a87.182 87.182 0 0 0 39.381-33.763l-71.565-92.52a.76.568 0 0 0-.664-.28z" style="font-variation-settings:normal;opacity:1;vector-effect:none;fill:url(#c);fill-opacity:1;stroke:none;stroke-width:3.67846;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:2;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke markers fill;stop-color:#000;stop-opacity:1" transform="matrix(.02428 0 0 .02428 -1030.156 172.97)"/><path d="M11249.461-1883.696c-12.74 0-23.067 10.327-23.067 23.067 0 4.333 1.22 8.58 3.522 12.251l19.232-24.863c.138-.18.486-.18.624 0l19.233 24.864a23.068 23.068 0 0 0 3.523-12.252c0-12.74-10.327-23.067-23.067-23.067z" style="opacity:1;fill:#fff;fill-opacity:1;stroke-width:17.0055;paint-order:markers fill stroke;stop-color:#000" transform="translate(-1030.156 172.97) scale(.09176)"/></svg>
					</a>
					<a href="https://matrix.to/#/#solidground:matrix.org" target="_blank" rel="noreferrer" title="Matrix Chat">
						<span class="sr-only"> Matrix Chat </span>
						<svg version="1.1" class="!text-white" fill="currentColor" aria-hidden="true" width="28" height="28" viewBox="0 0 27.9 32" xmlns="http://www.w3.org/2000/svg">
							<g transform="translate(-.095 .005)">
							<path d="m27.1 31.2v-30.5h-2.19v-0.732h3.04v32h-3.04v-0.732z"/>
							<path d="m8.23 10.4v1.54h0.044c0.385-0.564 0.893-1.03 1.49-1.37 0.58-0.323 1.25-0.485 1.99-0.485 0.72 0 1.38 0.14 1.97 0.42 0.595 0.279 1.05 0.771 1.36 1.48 0.338-0.5 0.796-0.941 1.38-1.32 0.58-0.383 1.27-0.574 2.06-0.574 0.602 0 1.16 0.074 1.67 0.22 0.514 0.148 0.954 0.383 1.32 0.707 0.366 0.323 0.653 0.746 0.859 1.27 0.205 0.522 0.308 1.15 0.308 1.89v7.63h-3.13v-6.46c0-0.383-0.015-0.743-0.044-1.08-0.0209-0.307-0.103-0.607-0.242-0.882-0.133-0.251-0.336-0.458-0.584-0.596-0.257-0.146-0.606-0.22-1.05-0.22-0.44 0-0.796 0.085-1.07 0.253-0.272 0.17-0.485 0.39-0.639 0.662-0.159 0.287-0.264 0.602-0.308 0.927-0.052 0.347-0.078 0.697-0.078 1.05v6.35h-3.13v-6.4c0-0.338-7e-3 -0.673-0.021-1-0.0114-0.314-0.0749-0.623-0.188-0.916-0.108-0.277-0.3-0.512-0.55-0.673-0.258-0.168-0.636-0.253-1.14-0.253-0.198 0.0083-0.394 0.042-0.584 0.1-0.258 0.0745-0.498 0.202-0.705 0.374-0.228 0.184-0.422 0.449-0.584 0.794-0.161 0.346-0.242 0.798-0.242 1.36v6.62h-3.13v-11.4z"/>
							<path d="m0.936 0.732v30.5h2.19v0.732h-3.04v-32h3.03v0.732z"/>
							</g>
						</svg>
					</a>
					<a href="https://discuss.coding.social/c/solidground/13" target="_blank" rel="noreferrer" title="Community Forum">
						<span class="sr-only"> Community Forum </span>
						<svg xmlns="http://www.w3.org/2000/svg" class="!text-white" fill="currentColor" aria-hidden="true" width="28" height="28" viewBox="0 0 448 512"><!-- Font Awesome Free 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M225.9 32C103.3 32 0 130.5 0 252.1 0 256 .1 480 .1 480l225.8-.2c122.7 0 222.1-102.3 222.1-223.9C448 134.3 348.6 32 225.9 32zM224 384c-19.4 0-37.9-4.3-54.4-12.1L88.5 392l22.9-75c-9.8-18.1-15.4-38.9-15.4-61 0-70.7 57.3-128 128-128s128 57.3 128 128-57.3 128-128 128z"/></svg>
					</a>
				</div>
		</div>
		<div class="mt-8 sm:w-full sm:max-w-md xl:mt-0 xl:ml-8">
				<div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3 sm:flex-shrink-0">
						<a class="flex items-center justify-center w-full px-5 py-3 text-base font-bold leading-6 
							text-white transition duration-150 ease-in-out no-underline bg-orange-500 dark:bg-orange-400 border 
							border-transparent rounded-full hover:bg-orange-600 dark:hover:bg-orange-500 focus:outline-none
							focus:bg-orange-600 dark:focus:bg-orange-500"
								href="https://matrix.to/#/#solidground:matrix.org" target="_blank">
								Meet us in our chatroom
						</a>
				</div>
				<p class="mt-6 text-sm leading-5 text-white">
					Solidground is part of the Social Coding Movement and adheres to its
					<a class="text-current" href="https://coding.social/principles">principles</a> and
					<a class="text-current" href="https://participate.coding.social">community participation guidelines</a>.
				</p>
				<p class="mt-3 text-sm leading-5 text-white">
					This project has received funding from the European Union's H2020 research and innovation programme under Grant Agreement no 871498.
				</p>
		</div>
	</div>
	<p class="mt-6 text-center text-xs text-gray-500 lg:mt-4 lg:text-right">
		&copy; 2023 Solidground and contributors. License 
		<a class="no-underline hover:underline text-current" href="https://www.gnu.org/licenses/agpl-3.0.html">AGPL-3.0</a>
	</p>
</div>
