---
import { Card, CardGrid } from '@astrojs/starlight/components';
---
<div class="header-section centered">
  <h2>Easy To Get Started</h2>
</div>
<CardGrid stagger>
	<Card title="Stay keenly focused on solutions" icon="approve-check-circle">
		Discover how <a href="/explanation/social-experience-design">social experience design</a>
		helps guide towards solutions that truly match the needs of all stakeholders. Enjoy
		the inclusive approach to design for the modern Social Web.
	</Card>
	<Card title="Never reinvent the wheel" icon="puzzle">
		Social experiences go beyond regular applications. Built from
		<a href="/explanation/component-development">reusable building blocks</a> that are choreographed
		to support your important processes and integrations. Ready to evolve.
	</Card>
	<Card title="Adapt tools to your work method" icon="pen">
		Our tool suite constitutes a social experience that comes bundled with your solution
		and can be customized to your preferences and procedures via
		<a href="/tutorial/moldable-processes/#process-recipes">moldable process recipes</a>.
	</Card>
	<Card title="Craft your tailored experience" icon="rocket">
		Delve into our comprehensive tool suite. Our <a href="/tutorials/create-your-social-experience/">interactive tour</a>
		leads you through the entire solution design process. Start your Solidground adventure and forge delightful solutions.
	</Card>
</CardGrid>