---
import { Icon } from '@astrojs/starlight/components';
import "/src/assets/styles/cards-row.css";
---
<div class="header-section centered">
  <h2>Innovative Tool Suite</h2>
  <p>
    <strong>Solidground Offers an Intuitive Approach to Social Experience Design.<br>
    We Help You Experience the <a href="" style="text-decoration:none">Joy of Creation</a>.</strong>
  </p>
</div>
<div class="header-section">
  <img src="/images/solidground-tool-suite-overview_excalidraw-dark.png" class="dark-only"
    alt="Diagram that shows a conceptual overview of the Solidground tool suite. On the right are three blocks.
      From top to bottom they are Floorplanner social experience for experience design, Taskweave workflow engine
      to support moldable processes, and separated by a dotted line an example of a system integration with a
      code forge. On the right side a block depicts the Solution containing checklists for Needs, Use cases
      and Roadmap plans"/>
  <img src="/images/solidground-tool-suite-overview_excalidraw-light.png" class="light-only"
    alt="Diagram that shows a conceptual overview of the Solidground tool suite. On the right are three blocks.
    From top to bottom they are Floorplanner social experience for experience design, Taskweave workflow engine
    to support moldable processes, and separated by a dotted line an example of a system integration with a
    code forge. On the right side a block depicts the Solution containing checklists for Needs, Use cases
    and Roadmap plans"/>
</div>
<div class="header-section">
  <h4 class="centered">Solidground is a Moldable Operational System</h4>
  <p>
    What we offer is a new type of software. We call it a Moldable
    Operational System, or MOS. A MOS removes the artificial boundary 
    between software creators, their projects and the resulting software 
    deliverables consumed by their clients. A MOS recognizes the entire 
    software lifecycle, where client needs and business domains always evolve.
    A MOS anticipates this by making IT stakeholders and their needs
    intrinsic to the operational system, and adjacent to the client's needs. 
    Design, development, operation and use is a collaborative process
    between client and creator, that is supported by the system while it
    is in production. Floorplanner Designer can be bundled to become integral
    part of your evolving solution. Our tools at your fingertips.
  </p>
</div>
<div>
  <div class="cards-row">
    <div class="info-card">
        <span><Icon class="icon" name="star" color="darkorange" size="1.4rem" /> Social experience</span>
        <p>
          Reimagine Social. Solidground considers any online interaction between people to be a
          form of social networking. We go beyond restrictive notions of "apps"
          that have become so dominant in our thinking. Applications form unnatural siloes of functionality,
          creating boundaries that hamper efficient collaboration. Solutions created with
          our tool suite are "social experiences" that are made to fit perfectly into their
          broader surroundings and are integral parts that are hosted on the Social Web.
        </p>
    </div>
    <div class="info-card">
        <span><Icon class="icon" name="star" color="darkorange" size="1.4rem" /> Moldable process</span>
        <p>
          Coding is Social. Seamless collaboration requires tools to be tailored to the
          tasks at hand and familiar practices. Use cases must tightly integrate with existing
          processes and systems, and tailored to the people that use them. Many development tools are
          like hammers that make everything look like a nail. Made for specific audiences they are
          non-inclusive. Solidground offers a moldable inclusive development environment that can be fully 
          customized to preferences and work methods of all stakeholders.
        </p>
    </div>
    <div class="info-card">
        <span><Icon class="icon" name="star" color="darkorange" size="1.4rem" /> Needs based evolution</span>
        <p>
          Solutions Naturally Evolve. Software isn't delivered in one-off fashion. Good solutions
          are easily adapted to changing conditions and needs. Many software projects start with a
          clear focus, but over time diverge from objectives set at the start, and fail to
          match expectations of the client. Solidground social experience design involves all
          stakeholders and puts client needs central during the entire solution lifecycle. Our component based
          development approach assures your long-term flexibility and agility.
        </p>
    </div>
  </div>
</div>