---
import ActionButton from "../ActionButton.astro";
import "/src/assets/styles/timeline.css";
---
<div class="swiper-container not-content">
  <h2>Roadmap: Launch first "minimum lovable process" release</h2>
  <div class="swiper-wrapper timeline">
    <div class="swiper-slide">
        <div class="timestamp">
          <span>Present</span>
        </div>
        <div class="status completed">
          <span><a style="text-decoration:none" href='/development/project-roadmap/#now-mlp-kickoff'>MLP Kickoff</a></span>
        </div>
    </div>
    <div class="swiper-slide">
      <div class="timestamp">
        <span>Phase</span>
      </div>
      <div class="status">
        <span><a style="text-decoration:none" href='/development/project-roadmap/#phase-groundwork-hosting'>Groundwork</a></span>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="timestamp">
        <span>Phase</span>
      </div>
      <div class="status">
        <span><a style="text-decoration:none" href='/development/project-roadmap/#phase-floorplanner-designer'>Floorplanner</a></span>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="timestamp">
        <span>Phase</span>
      </div>
      <div class="status">
        <span><a style="text-decoration:none" href='/development/project-roadmap/#phase-taskweave-engine'>Taskweave</a></span>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="timestamp">
        <span>Release</span>
      </div>
      <div class="status">
        <span><a style="text-decoration:none" href='/development/project-roadmap/#-phase-mlp-delivery'>MLP Delivery</a></span>
      </div>
    </div>
  </div>
  <div class="follow-button">
    <ActionButton icon="matrix" variant="primary" target="_blank" link="https://matrix.to/#/#solidground:matrix.org">Stay Tuned. Join Us On Matrix</ActionButton>
  </div>
</div>
<div class="swiper-mobile-container">
  <h4>Milestone release planned for Q3 2024.</h4>
  <ul class="timeline">
    <li>
      <div class="direction-l completed">
        <div class="flag-wrapper">
          <span class="flag"><a style="text-decoration:none" href='/development/project-roadmap/#now-mlp-kickoff'>Project Kickoff</a></span>
          <span class="time-wrapper"><span class="time">Present</span></span>
        </div>
      </div>
    </li>
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag"><a style="text-decoration:none" href='/development/project-roadmap/#phase-groundwork-hosting'>Groundwork</a></span>
          <span class="time-wrapper"><span class="time">Q1 2024</span></span>
        </div>
      </div>
    </li>
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag"><a style="text-decoration:none" href='/development/project-roadmap/#phase-floorplanner-designer'>Floorplanner</a></span>
          <span class="time-wrapper"><span class="time">Q2 2024</span></span>
        </div>
      </div>
    </li>
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag"><a style="text-decoration:none" href='/development/project-roadmap/#phase-taskweave-engine'>Taskweave</a></span>
          <span class="time-wrapper"><span class="time">Q2 2024</span></span>
        </div>
      </div>
    </li>
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag"><a style="text-decoration:none" href='/development/project-roadmap/#phase-mlp-delivery'>MLP Launch</a></span>
          <span class="time-wrapper"><span class="time">Release</span></span>
        </div>
      </div>
    </li>
  </ul>
  <div class="follow-button">
    <ActionButton icon="mastodon" variant="primary" target="_blank" link="https://social.coop/@smallcircles">Follow Our Progress</ActionButton>
  </div> 
</div>

<style>
  :global([data-theme='light']) .completed span:before  {
      border: 4px solid green !important;
  }

  :global([data-theme='light']) .timeline:before {
    background:rgba(52, 56, 65, 0.671) !important;
    background: -moz-linear-gradient(top, rgba(52, 56, 65,0) 0%, rgba(52, 56, 65, 0.671) 8%, rgba(52, 56, 65, 0.671) 92%, rgba(52, 56, 65,0) 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1))) !important;
    background: -webkit-linear-gradient(top, rgba(52, 56, 65,0) 0%, rgba(52, 56, 65, 0.671) 8%, rgba(52, 56, 65, 0.671) 92%, rgba(52, 56, 65,0) 100%) !important;
    background: -o-linear-gradient(top, rgba(52, 56, 65,0) 0%, rgba(52, 56, 65, 0.671) 8%, rgba(52, 56, 65, 0.671) 92%, rgba(52, 56, 65,0) 100%) !important;
    background: -ms-linear-gradient(top, rgba(52, 56, 65,0) 0%, rgba(52, 56, 65, 0.671) 8%, rgba(52, 56, 65, 0.671) 92%, rgba(52, 56, 65,0) 100%) !important;
    background: linear-gradient(to bottom, rgba(52, 56, 65,0) 0%, rgba(52, 56, 65, 0.671) 8%, rgba(52, 56, 65, 0.671) 92%, rgba(52, 56, 65,0) 100%) !important;
  }

  :global([data-theme='light']) .flag {
    background:rgb(52, 56, 65) !important;
    color:rgb(83, 88, 100) !important;
  }

  :global([data-theme='light']) .completed .flag:before {
    border: 4px solid darkorange !important;
  }

  :global([data-theme='dark']) .completed span a {
      color: orange !important;
  }

  :global([data-theme='light']) .completed span a {
    color: green !important;
  }

  :global([data-theme='light']) .flag:after {
    border-bottom-color: rgb(52, 56, 65) !important;
  }

  
</style>
