---
import { Icon } from '@astrojs/starlight/components';
import "/src/assets/styles/cards-row.css";
---
<div class="centered">
  <h2>Guided Solution Design</h2>
</div>
<div class="mt-12">
  <p>
    Solidground consists of a set of design and development tools that 
    allow creators and their clients to collaborate closely on creating
    solutions that integrate with the Social Web. Following a customizable 
    method of Social experience design, the tools provide guidance through the
    development process, automate workflows and tasks, and help ensure the
    needs of all stakeholders are properly addressed. The resulting solution
    is a hosted social experience, which is tailored to the client environment,
    highly extensible, and easy to adapt to changing needs.
  </p>
</div>
<div>
  <div class="cards-row">
    <div class="info-card">
      <span><Icon class="icon" name="rocket" color="purple" size="1.4rem" /> Floorplanner Designer</span>
      <p>
        Floorplanner is the collaborative design space where client and creator iterate
        on the solution blueprint. Following best-practices defined in the process recipes
        stakeholders move through the various tasks and automated steps. The blueprint
        keeps track of all design artifacts and ensures that docs, specs,
        configuration, and code are up-to-date and in sync. Floorplanner helps refine
        needs, plans, use cases, behavior and business rules, and also supports the UX design.
      </p>
    </div>
    <div class="info-card">
        <span><Icon class="icon" name="rocket" color="purple" size="1.4rem" /> Taskweave Engine</span>
        <p>
          Taskweave provides an integrated workflow engine, that allows you to adapt your
          processes to your unique environment and modify them to changing circumstances.
          Taskweave helps your solution to evolve. Moldable processes under your control
          can manipulate all artifacts of your solution, as well as those comprising the 
          tool suite itself. Optimize process recipes, automate your tasks, and reach unprecedented
          levels of productivity.
        </p>
    </div>
    <div class="info-card">
      <span><Icon class="icon" name="rocket" color="purple" size="1.4rem" /> Groundwork Hosting</span>
      <p>
        Groundwork connects the moving parts of your solution, the tools you use
        and any external systems. Supporting local-first development and synchronisation to
        your self-hosted services. Groundwork also hooks you into the evolving Social Web.
        Any Solidground creator and client can become your partner, as you reap benefits from
        their solutions or the building blocks they publish to the ever-growing ecosystem.
        Administer your hosted services from any location.
      </p>
    </div>
  </div>
</div>