---
import { Icon } from '@astrojs/starlight/components';

interface Props {
	variant: 'primary' | 'secondary' | 'minimal';
	link: string;
	icon?: any;
  color?: undefined | string;
	target?: '' | '_blank';
}

const { link, variant, icon, color, target } = Astro.props;
---

<a class:list={['action', variant]} href={link} target={target}>
  <Icon name={icon} size="1.4rem" class="icon" !color={color} /> <slot />
</a>

<style>
	.action {
		border-radius: 999rem;
		color: var(--sl-color-white);
		text-decoration: none;
		font-size: var(--sl-text-sm);
    font-weight: 700;
	}
	.action.primary {
		background: #f90;
		color: var(--sl-color-black);
	}
	.action.secondary {
		border: 1px solid;
	}
	.action.minimal {
		padding-inline: 0;
	}
  .action .icon {
    padding-right: 5px;
		height: unset;
  }

	@media (min-width: 50rem) {
		.action {
			font-size: var(--sl-text-base);
			padding: 1rem 1.25rem;
		}
	}
</style>
