.cards-row {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 20px;
}

.info-card {
  padding: 24px;
  background: var(--color-bg-elevation);
  border: 1px solid var(--sl-color-gray-5);
  margin: 0 !important;
  border-radius: 12px;
  color: var(--sl-color-gray-1);
}

.info-card > span {
  font-size: 24px;
  font-weight: bold;
  color: var(--sl-color-white);
}