@tailwind base;
@tailwind components;
@tailwind utilities;

/* The color theme was generated from base color #006600; */

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #142a13;
	--sl-color-accent: #277e24;
	--sl-color-accent-high: #b6d1b4;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eceef2;
	--sl-color-gray-2: #c0c2c7;
	--sl-color-gray-3: #888b96;
	--sl-color-gray-4: #545861;
	--sl-color-gray-5: #353841;
	--sl-color-gray-6: #24272f;
	--sl-color-black: #17181c;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #c9dec7;
	--sl-color-accent: #2a8026;
	--sl-color-accent-high: #183c16;
	--sl-color-white: #17181c;
	--sl-color-gray-1: #24272f;
	--sl-color-gray-2: #353841;
	--sl-color-gray-3: #545861;
	--sl-color-gray-4: #888b96;
	--sl-color-gray-5: #c0c2c7;
	--sl-color-gray-6: #eceef2;
	--sl-color-gray-7: #f5f6f8;
	--sl-color-black: #ffffff;
}

[data-theme='light'] .dark-only {
	display: none;
}
[data-theme='dark'] .light-only {
	display: none;
}

.site-title img {
	height: 24px;
}

.header-section {
	padding: 40px 0 10px 0;
}

.centered {
	text-align: center;
}

.icon {
	display: inline !important;
}