.swiper-container {
  margin-bottom: 8rem;

  .timeline {
    list-style-type: none;
    display: flex;
    padding: 0;
    text-align: center;
  }
  
  h2 {
    color: var(--sl-color-white);
    margin-bottom: 1.5rem;
  }

  a {
    color: var(--sl-color-gray-2);
  }

  .follow-button {
    text-align: center;
    margin-top: 4rem;
  }

  .timestamp {
    width: 100%; /* for flexible width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 100; 
    margin-bottom: 2rem;
  }
  
  .status {
    display: flex;
    justify-content: center;
    border-top: 0.4em solid hsla(222, 11%, 23%, 0.486);
    position: relative;
    transition: all 200ms ease-in;
  }
    
  .status span {
    font-weight: 600;
    padding-top: 20px;
  }
  
  .status span:before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: hsl(222, 13%, 16%);
    border-radius: 25px;
    border: 3px solid hsl(222, 11%, 23%);
    position: absolute;
    top: -15px;
    left: calc(50% - 12px); /* align circle to center */
    transition: all 200ms ease-in;
  }
  
  .completed span:before {
    border: 3px solid darkorange;
  }

  .completed span a {
    &:visited {
      color: inherit;
    }
  }

  .swiper-slide {
    width: 200px;
    text-align: center;
  
  }

  .swiper-slide:nth-child(2n) {
    width: 40%;
  }
  
  .swiper-slide:nth-child(3n) {
    width: 20%;
  }
}

.swiper-mobile-container {
  margin-bottom: 4rem;

  .timeline {
    position: relative;
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
  }

  h4 {
    color: var(--sl-color-white);
    margin-bottom: 0.7rem;
  }

  .follow-button {
    text-align: center;
    margin-top: 2rem;
  }
  
  .timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: rgb(80,80,80);
    background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  }
  
  .timeline li {
    padding: 1em 0;
  }
  
  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .direction-l {
    position: relative;
    width: 300px;
    float: left;
    text-align: right;
  }
  
  .direction-r {
    position: relative;
    width: 300px;
    float: right;
  }
  
  .flag-wrapper {
    position: relative;
    display: inline-block;
    
    text-align: center;
  }
  
  .flag {
    position: relative;
    display: inline;
    background: rgb(248,248,248);
    padding: 6px 10px;
    border-radius: 5px;
    
    font-weight: 600;
    text-align: left;
  }
  
  .direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255, 80, 80);
  }
  
  .direction-r .flag:before {
    left: -40px;
  }
  
  .direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
  }
  
  .direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(248,248,248);
    border-width: 8px;
    pointer-events: none;
  }
  
  .time-wrapper {
    display: inline;
    line-height: 1em;
    font-size: 0.66666em;
    color: darkorange;
    vertical-align: middle;
  }
  
  .direction-l .time-wrapper {
    float: left;
  }
  
  .direction-r .time-wrapper {
    float: right;
  }
  
  .time {
    display: inline-block;
    padding: 4px 6px;
    background: hsl(222, 13%, 16%);
  }
  
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }
  
  .timeline li {
    padding: 2em 0;
  }
  
  .direction-l,
  .direction-r {
    float: none;
    width: 100%;
  
    text-align: center;
  }
  
  .flag-wrapper {
    text-align: center;
  }
  
  .flag {
    background: hsl(222, 13%, 16%);
    z-index: 2;
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: ' ';
    display: block;
    width: 1em;
    height: 1em;
    margin-left: -0.5rem;
    background: hsl(222, 13%, 16%);
    border-radius: 10px;
    border: 2px solid hsl(222, 11%, 23%);
  }
  
  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: hsl(222, 13%, 16%);
    border-width: 8px;
    pointer-events: none;
  }
  
  .completed .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: ' ';
    display: block;
    width: 1em;
    height: 1em;
    margin-left: -0.5rem;
    background: hsl(222, 13%, 16%);
    border-radius: 10px;
    border: 2px solid darkorange;
  }

  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 2;
  }
  
  .direction-l .time-wrapper {
    float: none;
  }
  
  .direction-r .time-wrapper {
    float: none;
  }

}


@media only screen and (max-device-width: 541px) {
  .swiper-container {
    display:none;
  }
}

@media only screen and (min-device-width: 541px) {
  .swiper-mobile-container {
    display:none;
  }
}

@media only screen and (min-device-width: 540px) and (max-device-width: 757px) {
  .swiper-slide {
    width: 90% !important;
  }
}